<template>
    <div class="d-footer">
        <div class="box-copyright">
                            <p id="copyright">
                        Copyright &copy; 2021 <a href="/">DevFast</a>
                      </p>
                </div>
    </div>
</template>
<style>
.box-copyright {
    color: white;
    background: #fff;
    text-align: center;
    border-top: 1px solid #e9e9e9;
    letter-spacing: 1px;
    padding: 25px 0;
    height: 66px;
    background: #494E53;
}
</style>