<template>
    <div class="d-app">
        <div class="row no-gutters">
            <slot name="left-sidebar"></slot>
            <div class="col-12 col-lg-9 col-xl-10 col-main-body">
                <header class="d-header">
                    <div class="row no-gutters">
                        <div class="col-12 col-lg-3 col-xl-2 box-search">
                               <img src="http://devfast.us/images/devfast-logo.png" alt="blog.vn">
                            </div>
                            <div class="col-12 col-lg-9 col-xl-10">
                                <div class="box-right">
                                    <div class="row">
                                        <div class="col-5 col-lg-8 col-xl-9 box-logo">
                                            <a href="/" class="over logo active-link">
                                                Blogmanagement
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </header>
                <main class="d-body">
                     <slot name="body"></slot>
                </main>
            </div>
        </div>
                                    <slot name="footer"></slot>
    </div>
</template>
<style>
.d-app{
    min-height: 100vh;
    background: #edeff0;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(237, 239, 240);
    overflow: hidden;
    padding-top: 66px;
}

.d-header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #000;
    box-shadow: 0 0 6px 1px rgb(0 0 0 / 10%);
    z-index: 96;
}

.box-search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 66px;
    color: #fff;
    box-shadow: 0 0 6px 1px rgb(0 0 0 / 10%);
    z-index: 1;
}

.box-search img {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    width: 3em;
}

.box-right {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.box-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 66px;
}

.box-logo a{
    color:white;
    font-size: 30px;
}

.d-body{
    padding:10px 10px;
}
</style>