<template>
  <div>
    <div class="card mt-3">
      <div class="card-header title">List Blog</div>
      <div class="card-body m-0 p-0">
        <table class="table table-bordered w-100 text-center">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Tên</th>
              <th scope="col">Loại</th>
              <th scope="col">Trạng thái</th>
              <th scope="col">Vị trí</th>
              <th scope="col">Ngày public</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="blog in listBlog" :key="blog.id">
              <th>{{ blog.id }}</th>
              <td>{{ blog.title }}</td>
              <td>{{findById(blog.category).value}}</td>
              <td v-if="blog.public===true">Yes</td>
              <td v-else>No</td>
              <td>{{getPosition(blog.position)}}</td>
              <td>{{ blog.data_pubblic}}</td>
              <td>
                   <nuxt-link :to="'/'+blog.id" class="btn btn-outline-primary">
                  Edit
                   </nuxt-link>

               
              </td>
              <td>
                <button type="button" class="btn btn-outline-danger"  @click="$emit('deleteBlog',blog.id)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import {LISTCATEGORY,LISTPOSITION} from "~/constant/constant.js";
export default {
  props: {
    listBlog: {
      type: Array,
      required: true, 
    },
  },

  computed: {
    LISTCATEGORY() {
      return LISTCATEGORY
    }
  },
  methods: {
    findById(key) {
      return  LISTCATEGORY.find(element => element.key == key);
    },

    getPosition(positionArr){
      let stringPosition=''
      for (const position of positionArr) {
        stringPosition=stringPosition+LISTPOSITION.find(element => element.key == position).value+', '
      }
      return stringPosition.substr(0,stringPosition.length-2)
    }  
  }
}
</script>

<style>
.title {
  font-weight: bold;
  font-size: 20px;
}

.table th,
.table td {
  vertical-align: 0;
}
</style>
