<template>
  <div>
    <div class="card">
      <div class="card-header title">Search Blogs</div>
      <div class="card-body">
        <form class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label"
            >Title:
          </label>
          <div class="col-sm-10">
            <input
              v-model="inputSearch"
              id="inputPassword"
              type="text"
              class="form-control"
              placeholder="Search"
            />
          </div>
          <button
            @click="$emit('searchByTitle',inputSearch)"
            type="button"
            class="btn btn-outline-success btn-search mt-4"
          >
            Search
          </button>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default ({
 data() {
   return {
     inputSearch:''
   }
 }
})
</script>

<style>
.btn-search {
  margin: auto;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.table th,
.table td {
  vertical-align: 0;
}
</style>
