<template>
  <ValidationObserver ref="observer" @submit.prevent="onSubmit">
    <form class="card">
      <div class="card-header title">
        <slot></slot>
      </div>
      <div class="card-body form-post">
        <div class="form-group">
          <label>Tiêu đề:</label>
          <ValidationProvider
            rules="required|max:100|min:5"
            name="Title"
            v-slot="{ errors }"
          >
            <input
              v-model="BlogObject.title"
              class="form-control"
            />
            <span style="color: red">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
        <div class="form-group">
          <label for>Mô tả ngắn:</label>
          <ValidationProvider
            rules="required|max:250|min:10"
            name="Short Description"
            v-slot="{ errors }"
          >
            <textarea
              v-model="BlogObject.des"
              id="short-description"
              class="form-control"
            ></textarea>
            <span style="color: red">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
        <div class="form-group">
          <label for>Chi tiết:</label>
          <ValidationProvider
            rules="required|max:250|min:10"
            name="Description"
            v-slot="{ errors }"
          >
            <textarea
              v-model="BlogObject.detail"
              id="description"
              class="form-control"
            ></textarea>
            <span style="color: red">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
        <div class="form-group">
          <label>Hình ảnh:</label>
          <input id="image" type="file" class="form-control-file d-block" />
        </div>
        <ValidationProvider
          rules="required"
          name="Position"
          v-slot="{ errors }"
        >
          <div class="form-group">
            <label class="d-block">Vị trí:</label>
            <div
              v-for="position in LISTPOSITION"
              :key="position.id"
              class="form-check form-check-inline"
            >
              <input
                v-model="BlogObject.position"
                class="form-check-input"
                type="checkbox"
                :value="position.key"
              />
              <label class="form-check-label" for="">{{
                position.value
              }}</label>
            </div>
          </div>
          <span style="color: red">{{ errors[0] }}</span>
        </ValidationProvider>
        <ValidationProvider rules="required" name="Status" v-slot="{ errors }">
          <div class="form-group">
            <label class="d-block">Public:</label>
            <div class="form-check form-check-inline">
              <input
                v-model="BlogObject.public"
                id="yes-choice"
                class="form-check-input"
                type="radio"
                name="choice"
                value="true"
              />
              <label class="form-check-label" for="">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                v-model="BlogObject.public"
                id="no-choice"
                class="form-check-input"
                type="radio"
                name="choice"
                value="false"
              />
              <label class="form-check-label" for="">No</label>
            </div>
          </div>
          <span style="color: red">{{ errors[0] }}</span>
        </ValidationProvider>

        <div class="row">
          <div class="form-group col-md-6">
            <ValidationProvider
              rules="required"
              name="Category"
              v-slot="{ errors }"
            >
              <label>Loại: </label>
              <select
                v-model="BlogObject.category"
                id="type"
                class="form-control"
              >
                <option
                  v-for="category in LISTCATEGORY"
                  :key="category.id"
                  :value="category.key"
                >
                  {{ category.value }}
                </option>
              </select>
              <span style="color: red">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class="form-group col-md-6">
            <ValidationProvider
              rules="required"
              name="Date"
              v-slot="{ errors }"
            >
              <label>Date public:</label>
              <input
                v-model="BlogObject.data_pubblic"
                id="date-input"
                type="date"
                class="form-control"
              />
              <span style="color: red">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-center p-3">
        <div>
          <button type="submit" class="btn btn-success">Submit</button>
          <button type="button" class="btn btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </ValidationObserver>
</template>
<script>
import axios from "axios";
import { LISTCATEGORY, LISTPOSITION } from "~/constant/constant.js";
export default {
  data() {
    return {
      LISTCATEGORY,
      LISTPOSITION,
      BlogObject: {
        tile: "",
        des: "",
        detail: "",
        position: [],
        public: null,
        category: [],
        data_pubblic: null,
      },
    };
  },

  props: {
    BlogInformation: {
      type: Object,
      default: () => {},
    },
  },

  updated() {
    if (this.BlogInformation) this.BlogObject = this.BlogInformation;
  },

  methods: {
    create() {
      let that = this;
      if (this.$route.params.id) {
        axios
          .put(
            "http://127.0.0.1:3000/Blogs/" + this.$route.params.id,
            that.BlogObject
          )
          .then(console.log("Update Done"))
          .catch((error) => console.log(error));
      } else
        axios
          .post("http://127.0.0.1:3000/Blogs", that.BlogObject)
          .then(console.log("Done"))
          .catch((error) => console.log(error));
    },

    edit() {
      axios
        .get("http://127.0.0.1:3000/Blogs", that.BlogObject)
        .then(console.log("Done"))
        .catch((error) => console.log(error));
    },

    async onSubmit() {
      const isValid = await this.$refs.observer.validate();
      if (!isValid) {
        alert("Make information correct!");
      } else this.create();
    },
  },
};
</script>

<style>
.form-post {
  padding: 15px 15px;
}
</style>
