<template>
  <div>
    <AppHeader>
        <template v-slot:left-sidebar>
            <AppMenu></AppMenu>
        </template>
        <template v-slot:body>
            <nuxt></nuxt>
        </template>
        <template v-slot:footer>
            <AppFooter></AppFooter>
        </template>
    </AppHeader>
  </div>
</template>

<script>

</script>