<template>
  <div>
    <BlogCreateEdit :blog-information="BlogInformation">
        Edit Blog
    </BlogCreateEdit>
  </div>
</template>

<script>
import axios from "axios";
import BlogCreateEdit from "~/components/blog/BlogCreateEdit.vue"
export default {
  components: {
    BlogCreateEdit,
  },

  data() {
      return {
          BlogInformation:{}
      }
  },

  methods: {
    getInformationBlog() {
      axios
        .get("http://127.0.0.1:3000/Blogs/"+this.$route.params.id)
        .then((response) => (this.BlogInformation= response.data))
        .catch((error) => console.log(error));
    },
  },

  mounted(){
      this.getInformationBlog()
  },

//   updated(){
//      console.log(this.BlogInformation) 
//   }

}
</script>