<template>
  <div>
    <BlogList :list-blog="listBlog" @deleteBlog="deleteBlog($event)"></BlogList>
  </div>
</template>

<script>
import axios from "axios";
import BlogList from "~/components/blog/BlogList.vue";
export default {
  components: {
    BlogList,
  },

  data() {
    return {
      listBlog: [],
    };
  },

  methods: {
    getBlogList() {
      axios
        .get("http://127.0.0.1:3000/Blogs")
        .then((response) => (this.listBlog = response.data))
        .catch((error) => console.log(error));
    },

    deleteBlog(id){
      let that = this
      var apiDelete="http://127.0.0.1:3000/Blogs/"+id
      axios
        .delete(apiDelete)
        .then(function() {
          this.listBlog = that.getBlogList()
        })
        .catch((error) => console.log(error))
        
    }
  },
  mounted() {
    this.getBlogList() 
  },
};
</script>
