<template>
  <div>
    <BlogCreateEdit>
      News Blog
    </BlogCreateEdit>
  </div>
</template>

<script>
import BlogCreateEdit from "~/components/blog/BlogCreateEdit.vue"
export default {
  components: {
    BlogCreateEdit
  }, 
}
</script>