<template>
    <div>
        <BlogSearchForm @searchByTitle="search($event)"></BlogSearchForm>
        <BlogList :list-blog="listBlog"></BlogList>
    </div>
</template>

<script>
import axios from "axios";
import BlogList from '~/components/blog/BlogList.vue';
import BlogSearchForm from '~/components/blog/BlogSearchForm.vue';
export default {
  components: {
    BlogList,
    BlogSearchForm
  },

  data() {
    return {
      listBlog: [],
    };
  },

  methods: {
    getBlogList() {
      axios
        .get("http://127.0.0.1:3000/Blogs")
        .then((response) => (this.listBlog = response.data))
        .catch((error) => console.log(error));
    },
    search(title) {
      var url = "http://127.0.0.1:3000/Blogs?title_like="+title;
      axios
        .get(url)
        .then((response) => (this.listBlog = response.data))
        .catch((error) => console.log(error));
    }

  },
  mounted() {
    this.getBlogList() 
  },
}
</script>